NEXT_PUBLIC_SUPABASE_URL=https://vxrvxbcbxdbhqsozwkcy.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZ4cnZ4YmNieGRiaHFzb3p3a2N5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYzMTcxOTcsImV4cCI6MjA5MTg5MzE5N30._B2MTcq8ePLWZ2m4TJp-QFIAQmn07Rg4EpCY4qX6we0
